# editor files
.idea/
.ipynb_checkpoints/
.spyproject/
.vscode/
__pycache__/
*#
.#*

# built documentation
docs/build

# setuptools output
build/
dist/
*.egg-info

# hybrid demo folders
notebooks/demos/*_demo/

# program output
*.npy
params-*.py

# testing
.cache
.coverage
.env
.tox
